.snowContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.snowflake {
  position: fixed;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 5px #fff;
  opacity: 0;
  animation: fall linear infinite;

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: #{random(10)}s;
    }
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-20vh) rotate(0deg);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(360deg);
  }
} 